body{
    margin: 0;
}
.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   justify-content: center;
   background:
   url("https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   background-size: cover;
   text-align: center;
   transition: filter .7s ;
   -webkit-transition: filter .7s ;
   -moz-transition: filter .7s ;
   -ms-transition: filter .7s ;
   -o-transition: filter .7s ;
}
h1{
    color: white;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.btn{
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
}
.btn:hover{
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
}
.active.container{
    filter: blur(5px) brightness(.7);
    -webkit-filter: blur(5px) brightness(.7);
}
.popup-container{
    position: fixed;
    left: 50%;
    width: 400px;
    height: 200px;
    top: 30%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image:
    url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZnJlZSUyMGltYWdlcyUyMGNvbXB1dGVyJTIwa2V5Ym9yZHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    opacity: 1;
    transition:all 0.7s ;
    -webkit-transition:all 0.7s ;
    -moz-transition:all 0.7s ;
    -ms-transition:all 0.7s ;
    -o-transition:all 0.7s ;
}
h4{
    font-size: 30px;
    margin: 10px 0;
    font-family: sans-serif;
    color: blueviolet;
}
label{
    color: blueviolet;
    font-family: sans-serif;
}
.popup-btn{
    background-color: orangered;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
}
.input{
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}
.input::placeholder{
    color: lightgrey;
}
.close-icon{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.close-icon:hover{
    color: orangered;
}
.active.popup-container{
    visibility: hidden;
    opacity: 0;
    top: 10%;
}